.foot-container {
    padding: 16px 32px 64px;
    margin: 0;
    width: 100%;
    background-color: var(--main-color);

    display: flex;
    flex-direction: row;
    gap: 128px;

    .column {
        height: fit-content;
        width: fit-content;
        color: var(--white-color);

        display: flex;
        flex-direction: column;
        gap: 5px;

        .title-brand {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 16px;
        }

        .references {
            display: flex;
            flex-direction: row;
            gap: 16px;

            svg {
                height: 20px;
                width: 20px;
            }
        }

        .col-header {
            margin-bottom: 12px;
            font-weight: 500;
        }

        .col-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            font-weight: 300;
            font-size: 14px;

        }
    }
}