.navbar > .container {
  margin: 0px 32px;
  padding: 0;
  max-width: 100%;

  .navbar-brand {
    margin-right: 32px;
    padding: 0;
  }

  .logo-container {
    .name-brand {
      padding: 0px;
      font-size: 22px;
      font-weight: bold;
      color: var(--white-color) !important;
      height: fit-content;
    }
    // .logo-brand {
    //     width: 48px;
    //     height: 48px;
    //     border-radius: 180px;
    //     background-image: url('../../assets/img/logoPlait.png');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }
  }

  .me-auto {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 18px;
    .nav-link {
      padding: 0px;
      font-weight: 400;
      color: var(--border-gray);
    }
    .active {
      padding: 0px;
      font-weight: 500;
      border-bottom: 3px solid var(--white-color);
      color: var(--white-color) !important;
      height: fit-content;
    }
  }

  .auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;

    .buts {
      padding: 4px 12px;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid var(--main-color);
      border-radius: 8px;
      cursor: pointer;
    }
    .circle-buts {
      // padding: 4px 12px;
      width: 40px;
      height: 40px;
      border: 1px solid var(--border-gray);
      border-radius: 100rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--main-color);
    }

    .register {
      background-color: var(--second-main-color);
      color: var(--white-color);
      &:hover {
        background-color: rgba(0, 59, 87, 0.7);
      }
    }

    .sign-in {
      background-color: var(--white-color);
      color: var(--second-main-color);
      &:hover {
        background-color: var(--border-gray);
      }
    }
    .header-icon {
      width: 24px;
      height: 24px;
      color: var(--border-gray);
    }
  }
}
