.navbar > .container {
  margin: 6px 72px;
  padding: 0;
  max-width: 100%;
}
.navbar > .container .navbar-brand {
  margin-right: 32px;
  padding: 0;
}
.navbar > .container .logo-container .name-brand {
  padding: 0px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white-color) !important;
  height: fit-content;
}
/* .logo-brand {
    width: 48px;
    height: 48px;
    border-radius: 180px;
    background-image: url('../../assets/img/logoPlait.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } */
.navbar > .container .me-auto {
  display: flex;
  gap: 24px;
  font-size: 16px;
  align-items: flex-end;
}
.navbar > .container .me-auto .nav-link {
  padding: 0px;
  font-weight: 400;
  color: var(--border-gray);
}
.navbar > .container .me-auto .active {
  padding: 0px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 3px solid var(--white-color);
  color: var(--white-color) !important;
  height: fit-content;
}
.navbar > .container .auth-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
.navbar > .container .auth-buttons .buts {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  cursor: pointer;
}
.navbar > .container .auth-buttons .circle-buts {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-gray);
  border-radius: 100rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
/* .navbar > .container .auth-buttons .pi {
  background-color: var(--border-gray);
  padding: 1px;
} */
.navbar > .container .auth-buttons .circle-buts.clicked {
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}
.navbar > .container .auth-buttons .circle-buts.clicked .header-icon {
  width: 24px;
  height: 24px;
  color: var(--main-color);
}
.navbar > .container .auth-buttons .register {
  background-color: var(--second-main-color);
  color: var(--white-color);
}
.navbar > .container .auth-buttons .register:hover {
  background-color: rgba(0, 59, 87, 0.7);
}
.navbar > .container .auth-buttons .sign-in {
  background-color: var(--white-color);
  color: var(--second-main-color);
}
.navbar > .container .auth-buttons .sign-in:hover {
  background-color: var(--border-gray);
}
.navbar > .container .auth-buttons .header-icon {
  width: 24px;
  height: 24px;
  color: var(--border-gray);
}

.navbar > .container .auth-buttons .header-avatar {
  max-width: 40px;
  max-height: 40px;
  border: none;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
