.home-main-container {
   padding: 32px 72px 0;
}

.introduction-container {
    border: 1px solid var(--second-main-color);
    border-radius: 16px;
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-introduction {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    padding-left: 45px;
}

.introduction-brand-title {
    font-size: 40px;
    font-weight: 700;
}

.introduction-brand-title > b {
    color: var(--main-color);
}

.introduction-brand-name {
    font-size: 24px;
    color: var(--second-main-color);
    font-weight: 500;
}

.introduction-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.introduction-register > span {
    font-weight: 500;
    font-size: 20px;
}

.introduction-register > button {
    border: none;
    border-radius: 8px;
    background-color: var(--second-main-color);
    color: var(--white-color);

    padding: 4px 8px;
}

.introduction-register > button:hover {
    background-color: rgba(0, 59, 87, 0.7);
}

.right-introduction {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
    to bottom,
    var(--second-main-color),
    var(--main-color)
    );
    border-radius: 16px;

}

.right-introduction > img {
    width: 300px;
    border-radius: 16px;
    margin: auto;
}

.rotate {
    width: 200px; /* Set width of the image */
    transition: transform 2s ease; /* Transition for smooth rotation */
}

.rotate:hover {
    transform: rotate(360deg); /* Rotate the image 360 degrees on hover */
}

.home-main-container > .carousel-container {
    width: 100%;
    height: fit-content;
    padding: 32px 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-main-container .carousel-container > .carousel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.home-main-container .carousel-container .carousel-header > span {
    font-size: 1.3rem;
    color: var(--main-color);
    font-weight: 600;
}

.home-main-container .carousel-container .carousel-header > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    padding: 8px 12px;
    border: none;
    border-radius: .5rem;
    background-color: rgba(217, 217, 217, 0.3);

    color: var(--main-color);
    font-size: .8rem;
    font-weight: 700;
    
}

.home-main-container .carousel-container .carousel-header > button:hover {
    background-color: var(--border-gray);
}

.home-main-container .carousel-container .carousel-header button > svg {
    width: .9rem;
    height: .9rem;
}