* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.title-info {
  padding: 12px 64px;
  font-weight: 500;
  border-bottom: 1px solid var(--border-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-info > b {
  font-size: 24px;
  color: var(--main-color);
}

.title-info > .btn {
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--red-color);
  width: 100px;
  color: var(--red-color);
  font-size: 14px;
}
.title-info > .btn > .icon {
  color: var(--red-color);
  width: 24px;
  height: 24px;
}
.container-pi {
  padding: 12px 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-area: 20px;
  grid-gap: 20px;
}

.container-ava {
  padding: 12px 0;
  height: auto;
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  gap: 24px;
}

.container-specialized,
.container-info {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-specialized {
  gap: 24px;
}
.container-specialized .container-info .title-span {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  padding-bottom: 20px;
}
.container-ava,
.container-info {
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
  min-height: 610px;
}
.container-info.auto {
  min-height: auto;
}
.sub-container-ava {
  position: relative;
}

.sub-container-ava > .main-ava-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100rem;
  border: 1px solid rgba(117, 117, 117, 0.46);
}
.sub-container-ava > .main-center-image {
  width: 500px;
  height: 360px;
  object-fit: cover;
  cursor: pointer;
}
.sub-container-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.sub-container-action .name-info {
  font-size: 24px;
  font-weight: 800;
  color: var(--black-color);
  max-width: 100%;
}
.sub-container-action .role-des {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-gray);
  max-width: 100%;
}
.sub-container-action .action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.sub-container-action .action-btn .btn {
  color: var(--text-gray);
  font-weight: 400;
  text-align: left;
  width: 220px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}
.sub-container-action .action-btn .btn:hover {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--border-gray);
}
.sub-container-action .action-btn .btn.active {
  outline: none;
  border: none;
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--main-color);
  background-color: rgba(57, 121, 121, 0.3);
}
.sub-container-action .action-btn .btn.active .icon {
  color: var(--main-color);
}
.sub-container-action .action-btn .btn .icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.container-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  background-color: var(--border-gray);
  border-radius: 100rem;
  border: 1px solid rgba(117, 117, 117, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 28px;
  height: auto;
  color: var(--text-gray);
}

.container-field {
  padding: 0 0 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container-info,
.container-field .container-left,
.container-field .container-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.container-field .container-gap {
  width: 32px;
}

.container-info .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.container-info .info span {
  font-size: 16px;
  color: var(--text-gray);
}
.container-info .info .container-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-info .info .container-phone > .warning-error {
  color: var(--red-color);
  font-size: 12px;
  font-weight: 700;
}
.container-field .info .select-container {
  position: relative;
  display: inline-block;
}

.container-info .info .container-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.container-info .info .container-link .mb-3 {
  height: 40px;
  width: 90%;
  border-radius: 100rem;
  color: var(--text-gray);
  font-size: 14px;
  display: flex;
}

.container-info .info .container-link .mb-3 .title-link {
  z-index: 1;
  height: 40px;
  width: 140px;
  border-top-left-radius: 100rem;
  border-bottom-left-radius: 100rem;
  border: 1px solid var(--border-gray);
  background-color: rgba(217, 217, 217, 0.3);
  color: var(--text-gray);
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.container-info .info .container-link .mb-3 .main-link {
  height: 40px;
  box-sizing: border-box;
  padding: 0 12px;
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  border: 1px solid var(--border-gray);
  font-size: 14px;
  color: #0d6efd;
  text-decoration: underline;
}
.container-info .info .container-link .mb-3 .main-link::placeholder {
  font-size: 14px;
  color: #0d6efd;
  text-decoration: underline;
}
.container-info .info .input-form-pi {
  padding: 0 16px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: var(--black-gray);
  background-color: rgba(217, 217, 217, 0.3);
  appearance: none; /* for select */
  font-size: 14px;
}
.container-info .info .input-area-form-pi {
  padding: 8px 16px;
  min-height: 80px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border-gray);
  color: var(--text-gray);
  font-size: 14px;
}

.container-info .info .input-form-pi:focus,
.container-info .info .input-area-form-pi:focus,
.container-link .mb-3 .main-link:focus,
.container-info .info .container-link .mb-3 .title-link:focus {
  outline: none;
  /* box-shadow: none; */
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  border: none;
}
.container-info .info .password-icon {
  z-index: 1;
  position: absolute;
  right: 12px;
  bottom: 20px;
  width: 24px;
  height: 24px;
}
.container-field .info .arrow-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none; /* Để không ảnh hưởng đến sự kiện chuột */
}
.alert-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.alert-option .container-button {
  margin-left: auto;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.alert-option .container-button button {
  width: 160px;
  height: 32px;
  border-radius: 8px;
  padding: 4px;
  background-color: var(--white-color);
  border: none;
  font-size: 14px;
}

.alert-option .container-button .discard-changes {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.alert-option .container-button .save-change {
  background-color: var(--main-color);
  color: var(--white-color);
}

.container-info-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  gap: 10px;
  margin-bottom: 24px;
}
.container-info-img .quali-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.container-info-img .quali-content .span {
  padding: 4px 12px;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.container-info-img .quali-content span.warning-error {
  padding: 4px 12px;
  display: flex;
  justify-content: flex-start;
  color: var(--red-color);
  width: 100%;
}

.container-info-img .quali-content .span.approved {
  background-color: rgba(20, 174, 92, 0.3);
  color: var(--main-color);
}
.container-info-img .quali-content .span.pending {
  background-color: rgba(255, 204, 0, 0.3);
  color: var(--yellow-color);
}
.container-info-img .quali-content .span.rejected {
  background-color: rgba(192, 15, 12, 0.3);
  color: var(--red-color);
}
.container-info-img .quali-content .status-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-info-img .quali-content .status-action .icon-btn-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: flex-end;
  gap: 10px;
}

.container-info-img .quali-image > img {
  width: 244px;
  height: 160px;
  object-fit: cover;
  display: block;
}

.icon-button {
  z-index: 1;
  height: 40px;
  width: 40px;
  border: 1px solid var(--border-gray);
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
