.slide-container {
    margin: 32px 0px;
    height: 500px;
    width: 100%;
}
.carousel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carousel-header-title {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}
.carousel-header-viewall {
    color: var(--text-gray);
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.carousel-header-viewall:hover {
    color: var(--black-color);
    font-weight: 400;
}
.carousel-header-viewall > svg {
    margin-bottom: 3px;
}

.carousel {
    margin-top: 10px;
    padding: 0 32px;
}
.carousel-indicators {
    position: absolute;
    margin-bottom: -3%;
}
.carousel-indicators > button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 90px;
    background-clip: content-box;
    border: none !important;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: var(--text-gray);
}
.carousel-indicators > .active {
    background-color: var(--main-color) !important;
}
.item-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.carousel-control-next, .carousel-control-prev {
    width: 32px;
}
.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

