.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.36), 0 2px 4px rgba(0, 0, 0, 0.06);
  min-width: 360px;
  min-height: 160px;
  .diag-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    background-color: var(--main-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .diag-icon {
      width: 32px;
      height: 32px;
      color: var(--border-gray);
    }
    .container-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      .diag-title {
        font-size: 18px;
        font-weight: 520;
        color: var(--white-color);
      }
    }
  }
  .diag-body {
    flex: 1;
    padding: 8px 12px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    // gap: 12px;
    span {
      padding: 16px 0;
      font-weight: 460;
      font-size: 16px;
      color: var(--black-gray);
      // max-width: 850px;
    }
    .reject-container {
      span {
        padding: 24px 0 8px;
        font-weight: 460;
        font-size: 16px;
        color: var(--black-gray);
      }
      .input-area-form-diag {
        padding: 8px 16px;
        min-height: 100px;
        max-height: 500px;
        width: 500px;
        border-radius: 8px;
        border: none;
        color: var(--black-gray);
        background-color: rgba(217, 217, 217, 0.3);
        font-size: 14px;
        margin: 8px 0 24px;
      }
    }
    .input-area-form-diag:focus {
      outline: none;
      /* box-shadow: none; */
      box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
        rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
        rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
        rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
        rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
        rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
      border: none;
    }
    .str-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .error-str {
        color: var(--red-color);
        background-color: rgba(192, 15, 12, 0.3);
        border-radius: 4px;
        margin: 0 12px;
        padding: 8px 24px;
        font-size: 14px;
      }
      .act-btns {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 8px;
        padding: 12px;
        margin-left: auto;
        .diag-btn {
          min-width: 80px;
          font-size: 14px;
        }
        .cancle {
          background-color: var(--white-color);
          border: 1px solid var(--main-color);
          color: var(--main-color);
        }
        .signout {
          background-color: var(--main-color);
          color: var(--white-color);
        }
      }
    }

    .container-diag-field {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 12px;
      gap: 24px;
      .left-diag-container,
      .right-diag-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 8px 0;
        .info {
          display: flex;
          flex-direction: column;
          color: var(--text-gray);
          .input-form-diag {
            width: 400px;
            height: 40px;
            padding: 0 16px;
            border-radius: 4px;
            border: none;
            background-color: rgba(217, 217, 217, 0.3);
            font-size: 14px;
          }
          .input-form-diag:focus {
            outline: none;
            box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
              rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
              rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
              rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
              rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
              rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
            border: none;
          }
          .custom-switch {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            color: var(--text-gray);
          }
          .form-check-input {
            width: 3.5em;
            height: 2em;
          }
          // .form-check-input:checked {
          //   background-color: #1e1e1e;
          //   border-color: #1e1e1e;
          // }
          // .form-check-input:focus {
          //   border-color: #1e1e1e;
          //   outline: 0;
          //   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          // }
        }
      }
    }
  }
}
.work-hours-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  .day-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
    padding: 0 12px;
    .setting-times {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      .block {
        width: 120px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        background-color: rgba(217, 217, 217, 0.5);
        border-radius: 8px;
        appearance: none;
        font-size: 14px;
        color: var(--second-main-color);
        border: none;
        outline: none;
      }
      .block:hover {
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
      .form-control:focus,
      .form-control:active,
      .form-control:focus-visible {
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
  }
}
