.container-options {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 12px;
  gap: 8px;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--border-gray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.06);
}
.container-options .op-buts {
  text-align: left;
  width: 100%;
  border: none;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-gray);
}
.container-options .op-buts:hover {
  background-color: rgba(217, 217, 217, 0.4);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.headerOption {
  position: absolute;
  right: 72px;
  top: 64px;
}

/* CSS riêng cho headerOption */
.userOption {
  position: absolute;
  right: 24px;
  top: 30px;
  width: 160px;
}
