.main-contain-assign {
  margin: 48px 64px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.main-contain-assign .assign-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-contain-assign .assign-info .info-row,
.questions-overview-container .questions-container .question-item .info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.main-contain-assign .assign-info .info-row .detail-info {
  display: flex;
  flex-direction: row;
}
.main-contain-assign .assign-info .info-row .name,
.main-contain-assign .questions-overview-container {
  display: flex;
  flex-direction: column;
}
.main-contain-assign .assign-info .info-row .name > label {
  font-size: 20px;
  font-weight: 800;
}
.main-contain-assign .assign-info .info-row .name-container {
  font-size: 14px;
}
.main-contain-assign .assign-info .info-row .detail-info .marks-questions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  font-size: 14px;
  font-weight: 700;
}
.main-contain-assign
  .assign-info
  .info-row
  .detail-info
  .marks-questions
  > .btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #f5f5f5;
  padding: 4px;
  color: var(--text-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-contain-assign
  .assign-info
  .info-row
  .detail-info
  .marks-questions
  > .btn:hover {
  background-color: var(--border-gray);
}

.main-contain-assign
  .assign-info
  .info-row
  .detail-info
  .marks-questions
  > svg {
  height: 8px;
  width: auto;
}
.main-contain-assign .assign-info .info-row .field-value-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.assign-info .info-row .field-value-container .field-value {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
}
.assign-info .info-row .field-value-container .field-value .field {
  color: var(--text-gray);
}
.main-contain-assign .handle-button,
.overview-container .chart-detail-container {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  gap: 20px;
  border-bottom: 1px solid var(--border-gray);
}
.main-contain-assign .handle-button {
  padding: 0 24px 0 20px;
}

.main-contain-assign .handle-button .btn {
  padding: 8px 4px 4px;
  border: none;
  outline: none;
  color: var(--text-gray);
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 3px solid var(--white-color);
  font-size: 16px;
}
.main-contain-assign .handle-button .btn:hover {
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 4px 4px 0 0;
  border-bottom: 3px solid rgba(217, 217, 217, 0.3);
}
.main-contain-assign .handle-button .btn.active {
  color: var(--main-color);
  font-weight: 800;
  border-bottom: 3px solid var(--main-color);
  border-radius: 4px 4px 0 0;
}
.main-contain-assign .handle-button.start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}
.main-contain-assign .handle-button.start .btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}
.main-contain-assign .handle-button.start .btn:hover {
  background-color: rgba(57, 121, 121, 0.8);
}

.main-contain-assign .questions-overview-container .questions-container,
.overview-container .attendee-list {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.start-assign-container .questions-overview-container .questions-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.questions-overview-container .questions-container .question-item {
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questions-overview-container
  .questions-container
  .question-item
  .question-mark {
  font-size: 14px;
  color: var(--text-gray);
}
.questions-overview-container
  .questions-container
  .question-item
  .question-idx {
  font-weight: 800;
}
.questions-overview-container
  .questions-container
  .question-item
  .question-text {
  width: 90%;
  text-align: justify;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}
.questions-overview-container
  .questions-container
  .question-item
  .question-text
  > p {
  flex: 1;
}
.questions-overview-container
  .questions-container
  .question-item
  .question-img {
  width: 240px;
  height: 160px;
  border-radius: 4px;
  border: 1px solid var(--border-gray);
  object-fit: cover;
}
.questions-overview-container
  .questions-container
  .question-item
  .answer-manual-type
  > span {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.questions-overview-container
  .questions-container
  .question-item
  .info-row
  .info {
  gap: 4px;
  flex: 0.5;
}
.questions-overview-container
  .questions-container
  .question-item
  .choices-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 90%;
}
.questions-overview-container .overview-container .chart-detail-container {
  justify-content: space-between;
  align-items: center;
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  .chart {
  width: 80px;
  height: auto;
  z-index: 9999;
}
.questions-overview-container .overview-container .chart-detail-container > div,
.questions-overview-container
  .overview-container
  .chart-detail-container
  .chart-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  > div
  > span {
  display: flex;
  flex-direction: column;
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  .number {
  font-size: 24px;
  font-weight: bold;
  color: var(--black-color);
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  .detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  padding: 0 16px;
  border-right: 1px solid var(--border-gray);
}
.questions-overview-container {
  .overview-container {
    .chart-detail-container {
      .detail {
        > label {
          color: var(--text-gray);
          display: flex;
          flex-direction: row;
          align-items: center;
          &.number {
            color: var(--black-color);
          }
        }
      }
    }
  }
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  .detail
  .status-submit-dot {
  margin-right: 12px;
  stroke-width: 12;
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  .detail
  .submitted {
  color: var(--green-color);
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  .detail
  .not-submitted {
  color: var(--border-gray);
}
.questions-overview-container
  .overview-container
  .chart-detail-container
  .detail
  .submitted-late {
  color: var(--yellow-color);
}
.overview-container .attendee-list .handle-page-container {
  padding: 0;
  border: none;
  justify-content: space-between;
  width: 100%;
}
.start-assign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 64px;
  gap: 32px;
}
.start-assign-container .assign-info,
.start-assign-container .assign-info .time-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.start-assign-container .assign-info > label,
.start-assign-container .assign-info .time-btn .timer {
  font-size: 24px;
  font-weight: bold;
}
.start-assign-container .assign-info .time-btn .btn.submit {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}

.start-assign-container .assign-info .time-btn .btn.submit:hover {
  background-color: rgba(57, 121, 121, 0.8);
}
.start-assign-container
  .questions-overview-container
  .questions-container
  .question-item {
  padding: 24px;
}
.start-assign-container
  .questions-overview-container
  .questions-container
  .question-item
  .choices-container {
  width: 100%;
}
.start-assign-container
  .questions-overview-container
  .questions-container
  .question-item
  .info-row
  .info {
  gap: 10px;
  flex: 1;
}
.start-assign-container
  .questions-overview-container
  .questions-container
  .question-item
  .info-row
  .info
  > span {
  font-weight: bold;
  font-size: 14px;
  color: var(--black-color);
}
