.detail-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 32px 120px;

  background-color: #fafafa;
}

.detail-container > .left-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 382px;
}

.detail-container > .right-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 890px;
}

.detail-container .left-container > .block-container,
.detail-container .right-container > .block-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--white-color);
  width: 100%;
  min-height: 9rem;
  padding: 1.5rem;
  border: 1px solid var(--border-gray);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 5px,
    rgba(0, 0, 0, 0.2) 0px 0px 10px;

  position: relative;
}

.detail-container .right-container > .block-container-admincenter {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  background-color: var(--white-color);
  width: 100%;
  min-height: 9rem;
  padding: 1.5rem;
  border: 1px solid var(--border-gray);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 5px,
    rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.detail-container .left-container .block-container > .biography-ava {
  margin: auto;
  object-fit: cover;
  border: 1px solid var(--border-gray);
}

.detail-container .left-container .block-container > .biography-ava.teacher {
  border-radius: 90px;
  width: 8rem;
  height: 8rem;
}

.detail-container .left-container .block-container > .biography-ava.center {
  width: 100%;
  height: 13rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.detail-container .left-container .block-container > .biography-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  > .biography-name {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--second-main-color);

  display: flex;
  text-align: center;
  justify-content: center;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  > .biography-name.center {
  display: flex;
  text-align: left;
  justify-content: flex-start;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  > .course-card-price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .course-card-price
  > svg {
  width: 1.7rem;
  height: 1.7rem;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .course-card-price
  > .discount-price {
  font-size: 2rem;
  font-weight: 800;
  color: var(--second-main-color);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .course-card-price
  .discount-price
  > svg {
  margin-left: -5px;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .course-card-price
  > .initial-price {
  font-size: 1rem;
  font-weight: 500;
  height: fit-content;
  color: var(--text-gray);
  text-decoration: line-through;
  text-decoration-color: var(--red-color);
  align-self: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .course-card-price
  .initial-price
  > svg {
  margin-left: -3px;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  > .teacher-information,
.detail-container
  .left-container
  .block-container
  .biography-block
  > .center-information {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .teacher-information
  > span,
.detail-container
  .left-container
  .block-container
  .biography-block
  .center-information
  > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  font-size: 1rem;
  color: var(--text-gray);
  text-align: justify;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .teacher-information
  span
  > svg {
  width: 18px;
  height: 18px;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .teacher-information
  > .teaching-major {
  align-items: flex-start;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  .teacher-information
  .teaching-major
  > svg {
  margin-top: 3px;
}

.detail-container .left-container .block-container .biography-block > button {
  width: 100%;
  padding: 0.5rem 0.5rem;

  background-color: var(--main-color);
  border-radius: 0.75rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
}

.detail-container
  .left-container
  .block-container
  .biography-block
  > button:hover {
  background-color: rgba(57, 121, 121, 0.8);
}

.detail-container
  .left-container
  .block-container
  .biography-block
  > button:disabled {
  background-color: var(--border-gray);
}

.detail-container .left-container .block-container > .block-container-header,
.detail-container .right-container .block-container > .block-container-header {
  display: flex;
  flex-direction: column;
}

.detail-container .left-container .block-container > .block-container-title,
.detail-container
  .left-container
  .block-container
  .block-container-header
  > .block-container-title,
.detail-container .right-container .block-container > .block-container-title,
.detail-container
  .right-container
  .block-container
  .block-container-header
  > .block-container-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-color);
}

.detail-container
  .right-container
  .block-container
  .block-container-header
  > .block-container-sub-title {
  font-size: 0.85rem;
  color: var(--text-gray);
}

.detail-container .left-container .block-container > .block-container-row,
.detail-container
  .left-container
  .block-container
  .block-container-col
  > .qualification,
.detail-container
  .left-container
  .block-container
  .block-container-col
  > .review-content,
.detail-container
  .right-container
  .block-container
  .block-container-col
  > .qualification {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.detail-container .left-container .block-container > .block-container-col,
.detail-container .right-container .block-container > .block-container-col,
.block-container-admincenter > .block-container-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-container .left-container .block-container .block-container-row > img,
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  > img {
  width: 8rem;
  height: 6.2rem;
  object-fit: cover;
  border: 1px solid var(--border-gray);
  border-radius: 0.25rem;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .qualification
  > img {
  width: 7.5rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  > svg,
.detail-container
  .left-container
  .block-container
  .block-container-col
  .qualification
  > svg {
  width: 7rem;
  height: 5rem;
}

.detail-container
  .left-container
  .block-container
  .block-container-row
  > .center-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-container-row.center,
.block-container-col.teacher {
  padding: 5px;
  border-radius: 0.5rem;
}

.block-container-row.center:hover,
.block-container-col.teacher:hover {
  background-color: rgba(217, 217, 217, 0.2);
  cursor: pointer;
}

.detail-container
  .left-container
  .block-container
  .block-container-row
  .center-block
  > .name-center,
.detail-container
  .left-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  > .qualification-name,
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  > .qualification-name {
  font-size: 1.1rem;
  color: var(--black-color);
  font-weight: 700;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  > .qualification-description,
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  > .qualification-description {
  font-size: 1rem;
  color: var(--text-gray);
}

.block-container-col > .qualification:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.detail-container
  .left-container
  .block-container
  .block-container-row
  .center-block
  > .quote-center {
  font-size: 0.875rem;
  color: var(--text-gray);
  font-weight: 400;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: justify;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  > .link-transfer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px;
  width: 100%;

  border: 1px solid var(--border-gray);
  border-radius: 0.5rem;

  color: var(--text-gray);
  font-weight: 400;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  > .link-transfer:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .link-transfer
  > svg {
  width: 20px;
  height: 20px;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  > .qualification,
.detail-container
  .right-container
  .block-container
  .block-container-col
  > .qualification {
  padding: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 0.5rem;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  > .qualification.test {
  padding: 1rem 0.5rem;
  border: none;
}
.detail-container
  .left-container
  .block-container
  .block-container-col
  .qualification
  > .qualification-body,
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  > .qualification-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.detail-container .right-container .block-container > .carousel-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  > .carousel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  .carousel-header
  > span {
  font-size: 1.3rem;
  color: var(--main-color);
  font-weight: 600;
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  .carousel-header
  > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  padding: 8px 12px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(217, 217, 217, 0.3);

  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  .carousel-header
  > button:hover {
  background-color: var(--border-gray);
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  .carousel-header
  button
  > svg {
  width: 0.9rem;
  height: 0.9rem;
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  > .carousel {
  padding: 0 3rem;
  overflow: visible;
  clip-path: inset(0 0 -50px 5px); /* Hides 50px from the left side */
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  .carousel
  .carousel-header
  > span {
  margin-left: -2.5rem;
}

.detail-container
  .right-container
  .block-container
  .carousel-block
  .carousel
  .carousel-header
  > button {
  margin-right: -2.5rem;
  cursor: pointer;
}

.detail-container .left-container .biography-block > .tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.detail-container
  .left-container
  .biography-block
  .tag-container
  > .tag-content {
  padding: 4px 8px;
  width: fit-content;
  background-color: rgba(20, 174, 92, 0.3);
  border-radius: 8px;

  font-size: 12px;
  color: var(--main-color);
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  > .teacher-header {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  align-items: center;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .teacher-header
  > .small-ava,
.detail-container
  .left-container
  .block-container
  .block-container-col
  .review-content
  > .small-ava {
  margin: 0;
  object-fit: cover;
  border: 1px solid var(--border-gray);
  border-radius: 180px;

  width: 3rem;
  height: 3rem;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .teacher-header
  > .teacher-name,
.detail-container
  .left-container
  .block-container
  .block-container-col
  .review-content
  .review-body
  > .review-name {
  font-size: 1rem;
  font-weight: 600;
}

.detail-container .left-container .block-container > .chat-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 1rem;
  font-weight: 600;
  color: var(--black-color);
  background-color: rgba(57, 121, 121, 0.4);

  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

  width: fit-content;
  height: fit-content;
  padding: 4px 8px;

  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.detail-container .left-container .block-container > .chat-button:hover {
  background-color: rgba(57, 121, 121, 0.3);
  scale: 1.1;
  animation: wobble 0.5s linear;
}

.detail-container .left-container .block-container .chat-button > svg {
  width: 1.2rem;
  height: 1.2rem;
}

@keyframes wobble {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  } /* Slight tilt to the left */
  50% {
    transform: rotate(5deg);
  } /* Slight tilt to the right */
  75% {
    transform: rotate(-3deg);
  } /* Slight correction to the left */
  100% {
    transform: rotate(0);
  } /* Back to neutral */
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  > .review-content {
  justify-content: space-between;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .review-content
  > .review-body {
  display: flex;
  flex-direction: column;
  width: 100%;

  position: relative;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .review-content
  .review-body
  > .star-ratings {
  height: fit-content;
  margin-top: -6px;
  padding: 0;
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .review-content
  .review-body
  > .review-title {
  font-size: 0.85rem;
  color: var(--text-gray);
}

.detail-container
  .left-container
  .block-container
  .block-container-col
  .review-content
  .review-body
  > .review-date {
  font-size: 0.85rem;
  color: var(--text-gray);

  position: absolute;
  top: 3px;
  right: 0;
}

.detail-container
  .left-container
  .block-container
  .block-container-header
  > .add-review-button:hover {
  background-color: rgba(57, 121, 121, 0.3);
}

.detail-container
  .left-container
  .block-container
  .block-container-header
  .add-review-button
  > svg {
  stroke-width: 1px;
}

.detail-container .left-container .block-container > .total-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  color: var(--main-color);
  font-weight: 700;
  font-size: 1.1rem;

  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 1.7rem;
  right: 1.5rem;
}

.detail-container
  .left-container
  .block-container
  .total-rating
  > .star-ratings {
  margin-top: -4px;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  > .lecture-block {
  display: flex;
  flex-direction: column;

  border-left: 1px solid var(--border-gray);
  border-right: 1px solid var(--border-gray);
  border-radius: 0 0 0.5rem 0.5rem;
  height: fit-content;

  overflow: hidden;
  height: auto;
  transition: opacity 0.5s ease-out;

  opacity: 1;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  > .lecture-block.adjust-lecture-block {
  height: 0;
  border: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  > .lecture-header,
.add-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.8rem 1.5rem;
  color: var(--black-color);
  font-size: 1.1rem;
  font-weight: 600;

  background-color: rgba(57, 121, 121, 0.3);
  border-radius: 0.5rem 0.5rem 0 0;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-header
  > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-header
  span
  > button {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 5px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-header
  span
  > button:hover {
  transform: scale(1.3);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  > .lecture-header.change-header {
  border-radius: 0.5rem;
  background-color: rgba(217, 217, 217, 0.5);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-header
  > .section-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-header
  .section-info
  > .showhide-button {
  height: fit-content;
  padding-left: 0.5rem;
  background-color: transparent;
  border: none;
  border-left: 3px solid black;
  cursor: pointer;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-header
  .section-info
  > .showhide-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-header
  .section-info
  .showhide-button
  > svg {
  width: 1.3rem;
  height: 1.3rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  > .lecture-content {
  padding: 1.3rem 2.3rem;
  border-bottom: 1px solid var(--border-gray);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  > .lecture-content.remove-border {
  border: none;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  > .lecture-content.nohover:hover {
  background-color: var(--white-color);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  > .lecture-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  color: var(--black-color);
  font-weight: 700;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .lecture-name
  > .lecture-title {
  font-size: 1.2rem;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  > .option-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  padding: 4px 6px;
  cursor: pointer;
  width: 1.8rem;
  height: fit-content;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  button
  .icon
  > svg {
  width: 1.1rem;
  height: 1.1rem;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  button
  > span {
  display: flex;
  align-items: center;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  button
  > .text {
  font-weight: 600;
  font-size: 0.8rem;
  transform: translateX(10px);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button:hover {
  width: fit-content;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button:hover
  .text {
  opacity: 1;
  transition: opacity 0.5s ease;
  transform: translateX(0px);
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button.add-lecture {
  color: var(--main-color);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button.remove-section {
  color: var(--red-color);
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button.add-lecture:hover {
  background-color: rgba(57, 121, 121, 0.3);
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button.add-lecture:hover
  .icon {
  color: var(--main-color);
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button.remove-section:hover {
  background-color: rgba(192, 15, 12, 0.3);
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .option-container
  > button.remove-section:hover
  .icon {
  color: var(--red-color);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  > .lecture-content:hover {
  background-color: rgba(217, 217, 217, 0.2);
}
.detail-container
  .right-container
  .block-container
  > .add-section-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.detail-container
  .right-container
  .block-container
  .add-section-btn-container
  > .add-section-btn,
.detail-container
  .left-container
  .block-container
  .block-container-header
  > .add-review-button {
  background-color: rgba(217, 217, 217, 0.2);
  color: var(--main-color);
  font-size: 0.9rem;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  width: fit-content;
  height: fit-content;
  padding: 0.3rem 0.5rem;

  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.detail-container
  .right-container
  .block-container
  .add-section-btn-container
  .add-section-btn
  > svg,
.detail-container
  .left-container
  .block-container
  .block-container-header
  .add-review-button
  > svg {
  width: 1.1rem;
  height: 1.1rem;
}

.detail-container
  .right-container
  .block-container
  .add-section-btn-container
  > .add-section-btn:hover,
.detail-container
  .left-container
  .block-container
  .block-container-header
  > .add-review-button:hover {
  background-color: rgba(57, 121, 121, 0.3);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  .lecture-name
  > .lecture-exercise-num {
  font-size: 0.9rem;
  width: 20%;
  text-align: right;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .lecture
  .lecture-block
  .lecture-content
  > .lecture-description {
  font-size: 0.8rem;
  color: var(--text-gray);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  > .test-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-header
  > .test-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black-color);
  width: 70%;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-header
  > .test-name.teacher-view {
  width: 90%;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-header
  > .test-info {
  font-size: 0.75rem;
  color: var(--text-gray);
  background-color: var(--border-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  width: 20%;
  height: fit-content;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-header
  > .test-info.submitted {
  color: var(--green-color);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-header
  > .test-info.past-due {
  color: var(--red-color);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-header
  .test-info
  > svg {
  width: 0.9rem;
  height: 0.9rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  > .test-description {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;

  margin-top: 10px;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-description
  > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  color: var(--text-gray);
  font-size: 0.8rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .qualification-body
  .test-description
  span
  > svg {
  color: var(--main-color);
  font-size: 1rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  > .test-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 25%;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .test-status
  > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  color: var(--main-color);
  font-weight: 600;
  font-size: 0.9rem;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .test-status
  span
  > svg {
  width: 1rem;
  height: 1rem;
  stroke-width: 1px;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .test-status
  > .test-status-text {
  padding: 0.3rem 1.8rem;
  background-color: var(--border-gray);
  font-size: 0.8rem;

  border: none;
  border-radius: 0.5rem;
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .test-status
  > .test-status-text.unpublish {
  color: var(--text-gray);
}
.detail-container
  .right-container
  .block-container
  .block-container-col
  .qualification
  .test-status
  > .test-status-text.is-published {
  color: var(--main-color);
}

.block-container-col > .info-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.block-container-col .info-line > span {
  width: 90%;
  color: var(--text-gray);
}

.block-container-col .info-line > svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--second-main-color);
}

.detail-container .left-container > .contact-block {
  padding: 0;
  height: 3rem;
  min-height: 0;

  font-size: 1.3rem;
  font-weight: 700;
  color: var(--main-color);
  background-color: rgba(57, 121, 121, 0.4);
  border: none;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.detail-container .left-container .contact-block > svg {
  width: 1.3rem;
  height: 1.3rem;
  stroke-width: 1px;
}

.detail-container .left-container > .contact-block:hover {
  background-color: rgba(57, 121, 121, 0.5);
}

.detail-container .right-container .block-container > .block-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.detail-container
  .right-container
  .block-container
  .block-container-row
  > .progress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.detail-container
  .right-container
  .block-container
  .progress-section
  > .progress-container {
  width: 20rem;
  height: 20rem;
  padding: 5px;
}

.detail-container
  .right-container
  .block-container
  .progress-section
  .progress-container
  svg
  > .CircularProgressbar-trail {
  stroke: rgba(57, 121, 121, 0.3);
}

.detail-container
  .right-container
  .block-container
  .progress-section
  .progress-container
  svg
  > .CircularProgressbar-path {
  stroke: var(--main-color);
}

.detail-container
  .right-container
  .block-container
  .progress-section
  .progress-container
  svg
  > .CircularProgressbar-text {
  fill: var(--main-color);
  font-weight: 500;
  font-size: 1rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-row
  .progress-section
  > label {
  font-weight: 700;
  color: var(--main-color);
  font-size: 1.7rem;
}

.detail-container .right-container .block-container > table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.detail-container .right-container .block-container table tr > th {
  background-color: rgba(217, 217, 217, 0.4);
  padding: 10px;
  color: var(--second-main-color);
}

.detail-container .right-container .block-container table tr > td {
  text-align: center;
  color: var(--main-color);
  font-weight: 500;
}

.block-container-col > .pagination-controls {
  display: flex;
  justify-content: center;
}

.block-container-col .pagination-controls > button {
  margin: 0 3px;
  padding: 3px 10px;
  font-size: 0.9rem;

  border: none;
  background-color: transparent;
  color: var(--black-color);
  cursor: pointer;
}

.block-container-col .pagination-controls > button:hover {
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 0.3rem;
}

.block-container-col .pagination-controls > .active,
.block-container-col .pagination-controls > .active:hover {
  background-color: var(--main-color);
  color: white;
  border-radius: 0.3rem;
}

.block-container-col .pagination-controls > button[disabled] {
  cursor: default;
  color: gray;
}

.detail-container .right-container > .block-container.course-progress-container,
.detail-container
  .right-container
  > .block-container.course-teacher-attendance {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.detail-container
  .right-container
  .block-container.course-progress-container
  > .block-container-row {
  justify-content: space-between;
}

.detail-container
  .right-container
  .block-container.course-progress-container
  .block-container-row
  > .progress-section {
  width: 48%;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 5px,
    rgba(0, 0, 0, 0.4) 0px 0px 10px;
  padding: 1rem;
}

.detail-container
  .right-container
  .block-container
  > .block-container-col.noti-size {
  max-height: 25rem;
  overflow-y: auto;
  gap: 0.8rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  > .notification {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification:hover
  .delete-button {
  width: 20px;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  > .delete-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 0px; /* Initial collapsed width */
  overflow: hidden;
  transition: width 0.3s ease;

  cursor: pointer;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  .delete-button
  > button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: rgba(192, 15, 12, 0.8);

  color: var(--black-color);
  font-size: 1rem;

  width: 1.5rem;
  height: 1.5rem;

  border-radius: 90px;
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  .delete-button
  > button:hover {
  background-color: var(--red-color);
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  > .delete-button:hover {
  width: 60px;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  .delete-button:hover
  button {
  opacity: 1; /* Show the button when delete-button is fully expanded */
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  > .notification-body {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding-left: 0.5rem;
  border-left: 3px solid var(--border-gray);

  position: relative;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  .notification-body
  > .notification-title {
  color: var(--black-color);
  font-size: 1.3rem;
  font-weight: 600;
  min-height: 1.5rem;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  .notification-body
  > .notification-content {
  color: var(--black-color);
  font-size: 1rem;
  width: 100%;
}

.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  .notification-body
  > .noti-time {
  color: var(--text-gray);
  font-size: 0.8rem;
  font-weight: 600;
}

.detail-container .right-container .block-container > .add-notification-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: rgba(217, 217, 217, 0.2);

  color: var(--main-color);
  font-size: 1rem;

  width: 2rem;
  height: 2rem;

  border-radius: 90px;
  cursor: pointer;

  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.detail-container
  .right-container
  .block-container
  > .add-notification-button:hover {
  background-color: rgba(57, 121, 121, 0.3);
}

.detail-container
  .right-container
  .block-container
  .add-notification-button
  > svg,
.detail-container
  .right-container
  .block-container
  .block-container-col
  .notification
  .delete-button
  button
  > svg {
  stroke-width: 3px;
  width: 1.3rem;
  height: 1.3rem;
}

/* Custom scrollbar styling */
.block-container-col.noti-size::-webkit-scrollbar,
.detail-container
  .right-container
  > .course-teacher-attendance::-webkit-scrollbar {
  width: 10px; /* Set the scrollbar width */
}

.block-container-col.noti-size::-webkit-scrollbar-track,
.detail-container
  .right-container
  > .course-teacher-attendance::-webkit-scrollbar {
  background: var(--border-gray); /* Background color of the scrollbar track */
}

.block-container-col.noti-size::-webkit-scrollbar-thumb,
.detail-container
  .right-container
  > .course-teacher-attendance::-webkit-scrollbar {
  background-color: var(--text-gray); /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners for a flatter look */
  cursor: grab;
}

.block-container-col.noti-size::-webkit-scrollbar-thumb:active,
.detail-container
  .right-container
  > .course-teacher-attendance::-webkit-scrollbar {
  cursor: grabbing; /* Changes cursor when thumb is clicked and held */
}

.detail-container .right-container > .teacher-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: fit-content;
}

.detail-container .right-container .teacher-menu > .teacher-menu-btn {
  width: calc(90% / 3);
  padding: 0.6rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-gray);

  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
}

.detail-container .right-container .teacher-menu > .teacher-menu-btn:hover {
  background-color: rgba(57, 121, 121, 0.1);
  color: var(--black-color);
}

.detail-container .right-container .teacher-menu > .active,
.detail-container .right-container .teacher-menu > .active:hover {
  background-color: rgba(57, 121, 121, 0.3);
  color: var(--black-color);
}

.detail-container .right-container .block-container > .add-notification-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 500px;
  height: fit-content;

  background-color: var(--white-color);
  border-radius: 0.5rem;
  border: 1px solid var(--border-gray);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: -1;
  position: absolute;
  top: 4rem;
  right: 2rem;
}

.detail-container
  .right-container
  .block-container
  > .add-notification-popup.active {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  > .popup-title {
  width: 100%;
  text-align: left;

  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  > .add-noti-error {
  font-size: 0.8rem;
  color: var(--red-color);
  text-align: left;
  width: 100%;
  font-weight: 600;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  > textarea {
  width: 100%;
  padding: 1rem;

  height: 150px;
  resize: none;
  overflow-y: auto;

  border: 1px solid var(--border-gray);
  border-radius: 0.25rem;
  background-color: rgba(217, 217, 217, 0.3);
  color: var(--black-color);

  outline: none;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  > input {
  width: 100%;
  border-radius: 0.25rem;
  color: var(--black-color);
  font-weight: 500;

  background-color: rgba(217, 217, 217, 0.3);
  border: 1px solid var(--border-gray);
  padding: 0.5rem 1rem;

  overflow-x: hidden;
  text-overflow: ellipsis;
  outline: none;
  scroll-behavior: none;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  > textarea:focus,
.detail-container
  .right-container
  .block-container
  .add-notification-popup
  > input:focus {
  border: 1px solid var(--border-gray);
  background-color: #fafafa;
  box-shadow: 0 0 5px 0.25rem rgba(0, 0, 0, 0.2);
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  > .post-button-container {
  display: flex;
  justify-content: right;
  gap: 10px;
  width: 100%;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  .post-button-container
  > .post-notification-button {
  padding: 4px 15px;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  .post-button-container
  > .post-notification-button.post {
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 500;
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  .post-button-container
  > .post:hover {
  background-color: rgba(57, 121, 121, 0.8);
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  .post-button-container
  > .post-notification-button.cancel {
  color: var(--text-gray);
}

.detail-container
  .right-container
  .block-container
  .add-notification-popup
  .post-button-container
  > .cancel:hover {
  background-color: rgba(217, 217, 217, 0.3);
  color: var(--black-color);
}

.detail-container .right-container > .course-teacher-attendance {
  padding: 0.5rem 1rem 0.5rem 0.5rem !important;
  max-height: 100vh;
  overflow-y: auto;
}

.detail-container
  .right-container
  .course-teacher-attendance
  > .attendance-progress-container {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;

  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
  border-radius: 0.5rem;
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  > .attendance-progress-content {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  gap: 10px;

  border: none;
  border-radius: 0.5rem;
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  > .attendance-progress-content:hover {
  background-color: rgba(217, 217, 217, 0.2);
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  > .attendance-ava {
  width: 5rem;
  display: flex;
  align-items: center;
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-ava
  > img {
  width: 4.5rem;
  height: 4.5rem;

  border: none;
  border-radius: 50%;
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  > .attendance-progress-body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-progress-body
  > .attendance-name {
  font-weight: 600;
  color: var(--second-main-color);
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-progress-body
  > .attendance-mail {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-progress-body
  > .attendance-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-progress-body
  .attendance-progress
  > label {
  width: 100px;
  font-size: 0.9rem;
  font-weight: 500;
}
.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-progress-body
  .attendance-progress
  > .progress-line {
  width: 90%;
  height: 8px;

  border: none;
  background-color: rgba(217, 217, 217, 0.4);
  border-radius: 10px;
}
.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-progress-body
  .attendance-progress
  .progress-line
  > .progress-line-inner {
  height: 100%;

  border: none;
  background-color: var(--second-main-color);
  border-radius: 10px;
  transition: width 0.6s ease;
}
.detail-container
  .right-container
  .course-teacher-attendance
  .attendance-progress-container
  .attendance-progress-content
  .attendance-progress-body
  .attendance-progress
  > span {
  font-size: 0.9rem;
  font-weight: 500;
}
.edit-section-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit-section-container > .edit-section {
  width: 90%;
  border: none;
  border-bottom: 1px solid var(--black-color);
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit-section-container > .edit-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: fit-content;
}
.edit-section-container .edit-button-container > button {
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  width: 1.75rem;
  aspect-ratio: 1;
}
.edit-section-container .edit-button-container > button:disabled,
.edit-section-container .edit-button-container > button:disabled:hover {
  background-color: rgba(217, 217, 217, 0.5);
  color: var(--text-gray);
  cursor: not-allowed;
}
.edit-section-container .edit-button-container > button:hover {
  background-color: rgba(57, 121, 121, 0.3);
}
.add-section-container {
  border-radius: 0.5rem;
}
.block-container.student {
  max-height: 25rem;
  overflow-y: auto;
}
/* .block-container.student {
    max-height: 25rem;
} */
.block-container.content-test {
  max-height: 45rem;
  overflow-y: auto;
  scrollbar-width: 10px;
}
.block-container.content-teacher {
  max-height: 100vh;
  overflow-y: auto;
}
.center-of-admincenter-container {
  width: 50%;
  height: 100%;
}
.center-of-admincenter-container > .center-of-admincenter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
}
.center-of-admincenter-container
  .center-of-admincenter
  > .center-ava-container {
  width: 100%;
  height: 185px;
  object-fit: contain;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
}
.center-of-admincenter-container
  .center-of-admincenter
  .center-ava-container
  > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.25rem;
  /* filter: blur(5px); */
}
.center-of-admincenter-container .center-of-admincenter > .center-infomation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding-bottom: 1rem;
  transition: background-color 0.3s ease, scale 0.3s ease;
  cursor: pointer;
}
.center-of-admincenter-container
  .center-of-admincenter
  .center-infomation
  > span {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 600;
  transition: scale 0.3s ease;
}
.center-of-admincenter-container
  .center-of-admincenter
  > .center-infomation:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}

.center-of-admincenter-container
  .center-of-admincenter
  > .center-infomation:hover
  span {
  scale: 1.2;
  transition: scale 0.3s ease;
}
