.home-main-container {
  padding: 32px 74px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.introduction-container {
  border-radius: 0.5rem;
  height: 500px;
  width: 100%;
  padding: 1rem 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left-introduction {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding-left: 45px;
}

.introduction-brand-title {
  font-size: 50px;
  font-weight: 800;
}

.introduction-brand-title > b {
  color: var(--main-color);
}

.introduction-brand-name {
  font-size: 30px;
  color: var(--second-main-color);
  font-weight: 700;
}

.introduction-register {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.introduction-register > span {
  font-weight: 600;
  font-size: 25px;
}

.introduction-register > button {
  border: none;
  border-radius: 8px;
  background-color: var(--second-main-color);
  color: var(--white-color);
  font-size: 20px;

  padding: 4px 8px;
}

.introduction-register > button:hover {
  background-color: rgba(0, 59, 87, 0.7);
  transform: scale(1.1);
}

.right-introduction {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--second-main-color),
    var(--main-color)
  );
  border-radius: 16px;
}

.right-introduction > img {
  width: 300px;
  border-radius: 16px;
  margin: auto;
}

.rotate {
  width: 200px; /* Set width of the image */
  transition: transform 2s ease; /* Transition for smooth rotation */
}

.rotate:hover {
  transform: rotate(360deg); /* Rotate the image 360 degrees on hover */
}

.home-main-container > .carousel-container {
  width: 100%;
  height: fit-content;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-main-container > .carousel-container.hightlight {
  background: linear-gradient(
    to bottom,
    var(--main-color),
    rgba(57, 121, 121, 0.5)
  );
  border-radius: 0.5rem;
}

.home-main-container .carousel-container > .carousel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.home-main-container .carousel-container .carousel-header > span {
  font-size: 1.3rem;
  color: var(--main-color);
  font-weight: 700;
}

.home-main-container .carousel-container .carousel-header > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  padding: 8px 12px;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(217, 217, 217, 0.5);

  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 700;
}

.home-main-container .carousel-container .carousel-header > button:hover {
  background-color: var(--border-gray);
  scale: 1.1;
}

.home-main-container .carousel-container .carousel-header button > svg {
  width: 0.9rem;
  height: 0.9rem;
}

.home-main-container .introduction-container > .logo-container,
.logo-container-upper {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 0.25rem;
  padding: 0 1.5rem;
  /* filter: blur(3px); */
}

.logo-container-upper {
  position: absolute;
  top: 0;
  left: 0;
}
.home-main-container .introduction-container .logo-container > img,
.home-main-container .introduction-container .logo-container-upper > img {
  height: 90%;
  object-fit: contain;
}
.content-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-in-out {
  /* z-index: 1; */
  animation: fadeInOut 4s infinite; /* Apply the animation */
}
