.add-lecture-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 4.5rem;
  background-color: #fafafa;
}
.add-lecture-container > .page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.add-lecture-container > .page-header.another-status {
  align-items: center;
}
.add-lecture-container .page-header > .back-to-course {
  width: fit-content;
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.add-lecture-container .page-header .back-to-course > button {
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}
.add-lecture-container .page-header .back-to-course > button:hover {
  opacity: 0.3;
}
.add-lecture-container .page-header > .page-title {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.add-lecture-container .page-header .page-title > .title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 1.5rem;
}
.add-lecture-container .page-header .page-title > .lecture-place {
  font-size: 1rem;
  color: var(--text-gray);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-lecture-container .page-header > .create-lecture {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin-left: 25px;
}
.add-lecture-container .page-header .create-lecture > button {
  padding: 4px 12px;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.add-lecture-container .page-header .create-lecture > button:hover {
  background-color: rgba(57, 121, 121, 0.8);
}
.add-lecture-container .page-header .create-lecture > button:disabled,
.add-lecture-container .page-header .create-lecture > button:disabled:hover {
  background-color: rgba(217, 217, 217, 1);
  color: var(--text-gray);
}
.add-lecture-container > .page-body {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.add-lecture-container .page-body > .body-item {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--border-gray);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 5px,
    rgba(0, 0, 0, 0.4) 0px 0px 10px;
  background-color: var(--white-color);
}
.add-lecture-container .page-body > .lecture-information {
  width: 35%;
}
.add-lecture-container .page-body > .lecture-content {
  width: 65%;
}
.add-lecture-container .page-body .body-item .body-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.add-lecture-container .page-body .body-item .body-header > .main-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--black-color);
}
.error-inform {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--red-color);
}
.error-inform > svg {
  width: 1.2rem;
  height: 1.2rem;
}
.add-lecture-container .page-body .body-item > .body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 1.5rem;
}
.add-lecture-container .page-body .body-item .body-content > .sub-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > .sub-title {
  font-weight: 500;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .sub-title
  > span {
  color: var(--red-color);
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > input {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: rgba(217, 217, 217, 0.3);
  color: var(--black-color);
  outline: none;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > textarea {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: rgba(217, 217, 217, 0.3);
  color: var(--black-color);
  outline: none;
  overflow-y: auto;
  height: 5rem;
  resize: none;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > input:focus,
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > textarea:focus {
  box-shadow: 0 0 5px 0.25rem rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  border: 1px solid var(--border-gray);
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > .video-container {
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > .video-container.no-video {
  background-color: #f5f5f5;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-container
  > .video-player {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-container
  > img {
  height: 100%;
  object-fit: contain;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > .video-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 0;
  right: 0;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-button-container
  > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 4px 8px;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-button-container
  > .remove-btn,
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-button-container
  > .remove-btn:disabled,
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-button-container
  > .remove-btn:disabled:hover {
  color: var(--text-gray);
  background-color: transparent;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-button-container
  > .remove-btn:hover {
  background-color: rgba(217, 217, 217, 1);
  color: var(--black-color);
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-button-container
  > .upload-btn {
  color: var(--black-color);
  background-color: rgba(217, 217, 217, 0.3);
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .video-button-container
  > .upload-btn:hover {
  color: var(--black-color);
  background-color: rgba(217, 217, 217, 1);
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > .attach-file-button {
  width: fit-content;
  padding: 4px 8px;
  font-size: 0.8rem;
  background-color: rgba(217, 217, 217, 0.3);
  color: var(--black-color);
  border: none;
  outline: none;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > .attach-file-button:hover {
  background-color: rgba(217, 217, 217, 1);
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  > .file-display {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .file-display
  > .file-block {
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  background-color: rgba(217, 217, 217, 0.3);
  padding: 0.5rem 1rem;

  overflow-x: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .file-display
  .file-block
  > span {
  -webkit-line-clamp: 1; /* Limit to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allow text wrapping for line clamping */
  max-width: 80%; /* Limit the width to control the ellipsis */
  line-height: 1.4rem;
  font-size: 0.9rem;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .file-display
  > .file-block:hover {
  background-color: rgba(217, 217, 217, 1);
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .file-display
  > .file-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 10px;
  height: 100%;
  position: absolute;
  right: 1rem;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .file-display
  .file-buttons
  > button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 100%;
  color: var(--text-gray);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .file-display
  .file-buttons
  > button:hover {
  color: var(--black-color);
  scale: 1.1;
}
.add-lecture-container
  .page-body
  .body-item
  .body-content
  .sub-content
  .file-display
  .file-buttons
  button
  > svg {
  width: 1.3rem;
  height: 1.3rem;
}
.add-lecture-container
  .page-header
  .create-lecture
  > button.delete-lecture-btn {
  background-color: transparent;
  color: var(--text-gray);
  font-weight: 500;
  margin-right: 10px;
  box-shadow: none;
}
.add-lecture-container
  .page-header
  .create-lecture
  > button.delete-lecture-btn:hover {
  background-color: rgba(217, 217, 217, 0.5);
  color: var(--black-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
