input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.register-container {
  width: 75.25rem;
  height: 650px;
  margin: 7px auto 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to bottom,
    var(--second-main-color),
    var(--main-color)
  );
  display: flex;
  flex-direction: row;
  opacity: 0;
}

.mainpart-container {
  width: 70%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.mainpart-content {
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.header-text {
  font-size: 40px;
  font-weight: 800;
  color: var(--black-color);
}

.mb-3 {
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: auto;
  margin-bottom: .8rem !important;
}

.mb-3.change-mb3 {
  width: fit-content;
  justify-content: center;
}

.change-mb3 > input {
  width: 400px;
}

.password-container {
  width: 500px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.marginbottom-5px {
  margin-bottom: 5px !important;
}

.margintop-1rem {
  margin-top: 1rem;
}

.mb-3 svg {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  top: 23.5%;
}

.icon-head {
  left: 12px;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.form-control {
  height: 43px;
  padding: 4px 40px;
  border-radius: .5rem;
  border-color: rgba(217, 217, 217, 0.3);
  color: var(--text-gray);
  background-color: rgba(217, 217, 217, 0.3);
}

.form-control:focus {
  box-shadow: 0 0 5px 0.25rem rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border-gray);
  background-color: #fafafa;
}

.form-control.introduce-center {
  padding: 8px 40px;

  height: 70px;      
  width: 100%;       
  resize: none;       
  overflow-y: auto;  
}

.icon-head.penline {
  top: 11px;
}

.style-text {
  color: var(--main-color);
  font-weight: 800;

  text-decoration: underline;
}

.style-text:hover {
  color: var(--second-main-color);
  cursor: pointer;
}

.icon-eye {
  right: 12px;
  top: 25%;
}

.icon-eye:hover {
  width: 26px;
  height: 26px;
  top: 20%;
  right: 10px;
}

.error-noti {
  font-size: 14px;
  color: var(--red-color);
  font-weight: 500;
}

.AC-check {
  cursor: pointer;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: none;
}

.register-button {
  /* width: 100px; */
  height: 40px;
  padding: .25rem 1rem;
  font-size: 20px;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  background-color: var(--second-main-color);
  color: var(--white-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.register-button:hover {
  background-color: rgba(0, 59, 87, 0.7);
}

/* .sep {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.sep hr {
  width: 30px;
  height: 2px;
  background-color: var(--text-gray);
  border: none;
  margin: 0;
}

.sep span {
  font-weight: 300;
  color: var(--text-gray);
}

.sep svg {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgba(117, 117, 117, 0.5);
  border-radius: 180px;
}

.sep svg:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
} */

.sidepart-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidepart-header {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  height: 55%;
}

.sidepart-header span {
  margin: auto;
}

.header {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.image {
  width: 180px;
  height: 156px;
  background-image: url("../img/register_pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.small-text {
  font-weight: 200;
}

.but-container {
  margin: auto;
}

.signin-button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--second-main-color);
  color: var(--white-color);
}

.signin-button:hover {
  background-color: rgba(0, 59, 87, 0.7);
}

.modal-body.adjust-modal-body {
  padding: 1.3rem;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: var(--bs-modal-width);
      margin-right: auto;
      margin-left: auto;
      margin-top: 5%;
  }
}
.modal-dialog > .modal-content {
  width: fit-content;
}
.modal-dialog > .modal-content > .modal-header {
  background-color: var(--main-color);
  color: var(--white-color);
}
.btn-close:focus {
  box-shadow: none;
}
.modal-header > svg {
  margin-right: 5px;
  width: 26px;
  height: 26px;
}

.policy-content {
  width: 100%;
  height: 20rem;
  overflow-x: auto;
  border: 1px solid black;
}

.policy-content > pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}


.policy-btn {
  border-radius: .25rem;
  padding: 4px 8px;
  font-size: .8rem;
}

.policy-btn.agree {
  color: var(--white-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color)
}

.policy-btn.agree:hover {
  background-color: rgba(57, 121, 121, 0.8);
}

.policy-btn.not-agree {
  color: var(--main-color);
  background-color: var(--white-color);
  border: 1px solid var(--main-color)
}

.policy-btn.not-agree:hover {
  background-color: rgba(217, 217, 217, 0.3);
}


/* Custom scrollbar styling */
.policy-content::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 6px;           /* Set the scrollbar width */
}

.policy-content::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: var(--border-gray);  /* Background color of the scrollbar track */
}

.policy-content::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: var(--text-gray); /* Scrollbar thumb color */
  border-radius: 4px;     /* Rounded corners for a flatter look */
  cursor: grab;
}

.policy-content::-webkit-scrollbar-thumb:active,
textarea::-webkit-scrollbar-thumb:active {
  cursor: grabbing; /* Changes cursor when thumb is clicked and held */
}