.page-list-container {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.loading-container {
  width: 100vh;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-search {
  padding: 16px 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  position: relative;
}
.role-users-group {
  padding: 16px 72px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-bottom: 1px solid var(--border-gray);
  align-items: center;
}
.role-users-group > .role-btn {
  background-color: #fafafa;
  border-bottom: 3px solid #fafafa;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 6px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-gray);
  min-width: 100px;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}
.role-users-group > .role-btn:hover {
  background-color: rgba(57, 121, 121, 0.1);
  border-bottom: 3px solid rgba(57, 121, 121, 0.1);
}
.role-users-group > .role-btn.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.filter-search {
  justify-content: space-between;
  font-size: 14px;
}
.filter-search .icon,
.add-btn .icon {
  width: 20px;
  height: auto;
  color: var(--main-color);
}
.filter-sort-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}
.filter-sort-btns .btn {
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100px;
  color: var(--main-color);
  font-size: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: none;
}
.filter-sort-btns .btn:hover {
  background-color: rgba(217, 217, 217, 0.3);
}
.filter-sort-btns .btn.save-filter:hover {
  background-color: rgba(57, 121, 121, 0.8);
}
.filter-sort-btns .btn:active {
  border: none;
  outline: none;
  color: var(--main-color);
}
.filter-sort-btns .save-filter {
  color: var(--white-color);
}
.filter-sort-btns > .filter-sort-box {
  z-index: 0;
  opacity: 0;
  transition: opacity 0.05s linear;
}
.filter-sort-btns > .filter-sort-box.active {
  opacity: 1;
  z-index: 1;
  transition: opacity 0.1s linear;
}
.add-btn {
  margin: 12px 72px;
}
.add-btn .btn {
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--main-color);
  width: 140px;
  color: var(--main-color);
  font-size: 14px;
}
.add-btn .btn:hover {
  background-color: rgba(217, 217, 217, 0.3);
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 300px;
}

.search-container .search-field {
  padding: 0 16px;
  height: 40px;
  width: 100%;
  border-radius: 100rem;
  border: none;
  color: var(--text-gray);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-container .search-field:focus {
  outline: none;
  box-shadow: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-container .search-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.list-container {
  margin: 16px 72px 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.list-container > table {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* table-layout: fixed; */
}
.list-container > table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.list-container > table tr:nth-child(even) {
  background-color: var(--white-color);
}
.list-container tr {
  padding: 6px 8px;
}
.list-container th {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-gray);
}
.list-container th,
td {
  padding: 12px 8px;
  text-align: left;
  font-weight: 500;
  color: var(--second-main-color);
  max-width: 300px;
  word-wrap: break-word; /* Ngắt dòng nếu nội dung quá dài */
  white-space: nowrap; /* Không ngắt dòng trong ô */
  text-overflow: ellipsis;
}
.list-container > table > tbody > tr > td > span {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  padding: 4px 8px;
  border-radius: 6px;
  text-align: center;
}
.list-container > table > tbody > tr > td > span.assign {
  width: 100px;
}
.list-container > table > tbody > tr > td > span.status.active {
  color: var(--green-color);
  background-color: rgba(20, 174, 92, 0.3);
}
.list-container > table > tbody > tr > td > span.status.inactive {
  color: var(--red-color);
  background-color: rgba(192, 15, 12, 0.3);
}
.list-container > table > tbody > tr > td > span.status.pending {
  color: var(--yellow-color);
  background-color: rgba(255, 204, 0, 0.3);
}
.list-container > table > tbody td {
  color: var(--black-color);
}
.list-container > table > tbody tr:hover {
  /* scale: 1.1; */
  background-color: rgba(217, 217, 217, 0.5);
}
.table-cell {
  position: relative;
}
.list-container > table > tbody > tr > td.table-cell.pending {
  width: 200px;
}
.list-container > table > tbody > tr > td > .btn {
  width: 80px;
  padding: 6px;
  margin: 0 2px;
  font-size: 14px;
  color: var(--main-color);
  border-radius: 8px;
  border: 1px solid var(--main-color);
}
.list-container > table > tbody > tr > td > .btn-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.list-container > table > tbody > tr > td > .btn.approve {
  background-color: var(--main-color);
  color: var(--white-color);
}
.list-container > table > tbody > tr > td > .btn.approve:hover {
  background-color: rgba(57, 121, 121, 0.8);
}
.list-container > table > tbody > tr > td > .btn.reject:hover {
  background-color: rgba(217, 217, 217, 0.5);
}
.list-container > table > tbody > tr > td > .btn-group > .btn-task > .check {
  width: 40px;
  height: auto;
  padding: 8px;
  color: var(--green-color);
  background-color: rgba(20, 174, 92, 0.3);
  border-radius: 100rem;
}
.list-container
  > table
  > tbody
  > tr
  > td
  > .btn-group
  > .btn-task
  > .check:hover {
  background-color: rgba(20, 174, 92, 0.4);
}
.list-container > table > tbody > tr > td > .ava-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100rem;
  margin-right: 8px;
}
.list-container > table > tbody > tr > td > .btn-group > .btn-task > .x {
  width: 40px;
  height: auto;
  padding: 8px;
  color: var(--red-color);
  background-color: rgba(192, 15, 12, 0.3);
  border-radius: 100rem;
}
.list-container > table > tbody > tr > td > .btn-group > .btn-task > .x:hover {
  background-color: rgba(192, 15, 12, 0.4);
}
.list-container > table > tbody > tr.detail-row {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease;
  background-color: #f4f4f4;
}
.detail-row .container-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  padding: 0;
}

.detail-row .container-field .container-left .quali-img,
.detail-row .container-field .container-right .video-player {
  width: 600px;
  height: auto;
  margin: 8px 24px;
  object-fit: cover;
  flex-shrink: 0;
}
.detail-row .container-field .container-left .pdf-link {
  height: 300px;
  background-color: var(--border-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.detail-row .container-field label,
.detail-row .container-field .row-item {
  width: 100%;
}
.detail-row .container-field .title {
  font-size: 18px;
  font-weight: 600;
}
.detail-row .container-field .row-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.detail-row .container-field .field-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  padding: 0 16px;
  border-left: 1px solid var(--border-gray);
}
.detail-row .container-field .container-right .info {
  display: flex;
  flex-direction: column;
  margin: 8px 24px 8px 0;
}
.detail-row .container-field .container-right .info > span {
  font-size: 16px;
  color: var(--text-gray);
}
.detail-row .container-field .container-right .info > .input-form-pi {
  padding: 0 16px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: var(--black-gray);
  background-color: rgba(217, 217, 217, 0.3);
  appearance: none; /* for select */
  font-size: 14px;
}
.detail-row .container-field .container-right .info > .input-form-pi:focus {
  outline: none;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  border: none;
}
/* .pagination-container {
  margin: 12px 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-item {
  border: none;
}
.page-item.active {
  --bs-pagination-active-bg: var(--main-color);
}
.page-link {
  border: none;
  width: 36px;
  height: 36px;
  margin: 0 2px;
  border-radius: 8px;
  color: var(--main-color);
  text-justify: center;
} */
.user-option {
  position: absolute;
  top: 100%;
  right: 12px;
  z-index: 1;
  width: auto;
}
