@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-color: #397979;
  --second-main-color: #003b57;
  --white-color: #ffffff;
  --border-gray: #d9d9d9;
  --text-gray: #757575;
  --black-color: #1e1e1e;
  --red-color: #c00f0c;
  --yellow-color: #e2bb1b;
  --green-color: rgb(20, 174, 92);
}

* {
  font-family: "Inter", sans-serif;
  outline: none;
}

@keyframes slideToLeft {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide-in CSS class */
.slide-in {
  animation: slideToLeft 0.75s ease-in-out forwards;
}

.app-container {
  overflow: scroll; /* or auto */
  overflow-x: hidden; /* or auto */
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
input {
  outline: none;
}
button {
  transition: all 0.3s ease;
  cursor: pointer;
}

.app-container::-webkit-scrollbar {
  display: none;
}
.header-container >  .bg-body-tertiary {
    background-color: var(--main-color) !important;
}
.main-container {
  flex: 1;
  background-color: #fafafa;
}

.footer-container {
  background-color: var(--main-color);
}

.loading-page {
  /* width: 100%;
  margin: 0 5px 3px 0;
  animation: spin 1s infinite linear; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading-page > svg,
.icon-spin {
  animation: spin 1s infinite linear;
}
.loading-page > svg {
  width: 40px;
  height: 40px;
}
@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}

/* // .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// } */
