.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* opacity: 0;
  transition: opacity 0.3s ease; */
}
/* .modal-overlay.show {
  opacity: 1;
} */
.modal-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.36), 0 2px 4px rgba(0, 0, 0, 0.06);
  min-width: 360px;
  min-height: 160px;
  /* transform: translateY(-30px);
  transition: transform 0.3s ease-in-out; */
}
/* .modal-overlay.show .modal-container {
  transform: translateY(0);
} */

.modal-container > .diag-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: var(--main-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-container .diag-header > button {
  border: none;
  background-color: transparent;
}
.modal-container .diag-header > button:hover {
  scale: 1.2;
}

.modal-container .diag-header .diag-icon {
  width: 32px;
  height: 32px;
  color: var(--white-color);
}

.modal-container .diag-header > .container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.modal-container .diag-header .container-title > .diag-title {
  font-size: 18px;
  font-weight: 520;
  color: var(--white-color);
}

.modal-container > .diag-body {
  flex: 1;
  padding: 8px 12px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-wrap: auto;
}

.modal-container .diag-body > .login-message {
  width: 600px;
}

.modal-container .diag-body > span {
  padding: 16px 0;
  font-weight: 460;
  font-size: 16px;
  color: var(--black-gray);
}

.modal-container .diag-body .reject-container > span {
  padding: 24px 0 8px;
  font-weight: 460;
  font-size: 16px;
  color: var(--black-gray);
}

.modal-container .diag-body .reject-container > .input-area-form-diag {
  padding: 8px 16px;
  min-height: 100px;
  max-height: 500px;
  width: 500px;
  border-radius: 8px;
  border: none;
  color: var(--black-gray);
  background-color: rgba(217, 217, 217, 0.3);
  font-size: 14px;
  margin: 8px 0 24px;
}

.modal-container .diag-body > .input-area-form-diag:focus {
  outline: none;
  /* box-shadow: none; */
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  border: none;
}

.modal-container .diag-body > .str-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-container .diag-body .str-btns > .error-str {
  color: var(--red-color);
  background-color: rgba(192, 15, 12, 0.3);
  border-radius: 4px;
  margin: 0 12px;
  padding: 8px 24px;
  font-size: 14px;
}

.modal-container .diag-body .str-btns > .act-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  padding: 12px;
  margin-left: auto;
}

.modal-container .diag-body .str-btns .act-btns > .diag-btn {
  min-width: fit-content;
  font-size: 14px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}
.modal-container .diag-body .str-btns .act-btns > .diag-btn:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}
.modal-container .diag-body .str-btns .act-btns .diag-btn > svg {
  height: 0.85rem;
  width: 0.85rem;
  margin-right: 5px;
}

.modal-container .diag-body .str-btns .act-btns .cancel {
  background-color: var(--white-color);
  /* color: var(--main-color); */
}
.modal-container .diag-body .str-btns .act-btns .cancel:active,
.modal-container .diag-body .str-btns .act-btns .cancel:focus-visible,
.modal-container .diag-body .str-btns .act-btns .cancel:focus {
  background-color: rgba(217, 217, 217, 0.5);
  border: none;
  outline: none;
  color: var(--text-gray);
}
.modal-container .diag-body .str-btns .act-btns .cancel:hover {
  background-color: rgba(217, 217, 217, 0.5);
  color: var(--black-color);
}

.modal-container .diag-body .str-btns .act-btns .signout {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: var(--main-color);
  color: var(--white-color);
}
.modal-container .diag-body .str-btns .act-btns .signout:hover {
  background-color: rgba(57, 121, 121, 0.8);
  color: var(--white-color);
}
.modal-container .diag-body .str-btns .act-btns .remove {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: var(--red-color);
  color: var(--white-color);
}
.modal-container .diag-body .str-btns .act-btns .removel:hover {
  background-color: rgba(192, 15, 12, 0.8);
}
.modal-container .diag-body > .container-diag-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 24px;
}

.modal-container .diag-body .container-diag-field > .left-diag-container,
.modal-container .diag-body .container-diag-field > .right-diag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 8px 0;
}

.modal-container .diag-body .container-diag-field .left-diag-container > .info,
.modal-container .diag-body .container-diag-field .right-diag-container > .info,
.modal-container .diag-body .container-diag-field > .info {
  display: flex;
  flex-direction: column;
  color: var(--text-gray);
}
.modal-container
  .diag-body
  .container-diag-field
  .left-diag-container
  .info
  > .setting-course,
.modal-container
  .diag-body
  .container-diag-field
  .right-diag-container
  .info
  > .setting-course {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.modal-container .diag-body .container-diag-field .info > span {
  padding: 0;
}

/* .modal-container .diag-body .container-diag-field .info > .error-noti {
  color: var(--red-color);
  font-size: 0.85rem;
} */
.container-diag-field > .section-create-inform {
  width: 100%;
  font-weight: 600;
}

.modal-container
  .diag-body
  .container-diag-field
  .left-diag-container
  .info
  > .input-form-diag,
.modal-container
  .diag-body
  .container-diag-field
  .right-diag-container
  .info
  > .input-form-diag,
.modal-container .diag-body .container-diag-field .info > .input-form-diag {
  width: 400px;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  background-color: rgba(217, 217, 217, 0.3);
  font-size: 14px;
}

.modal-container
  .diag-body
  .container-diag-field
  .left-diag-container
  .info
  > .input-form-diag:focus,
.modal-container
  .diag-body
  .container-diag-field
  .right-diag-container
  .info
  > .input-form-diag:focus,
.modal-container
  .diag-body
  .container-diag-field
  .info
  > .input-form-diag:focus {
  outline: none;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  border: none;
}

.modal-container
  .diag-body
  .container-diag-field
  .left-diag-container
  .info
  > .custom-switch,
.modal-container
  .diag-body
  .container-diag-field
  .right-diag-container
  .info
  > .custom-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: var(--text-gray);
}

.modal-container
  .diag-body
  .container-diag-field
  .left-diag-container
  .info
  > .form-check-input,
.modal-container
  .diag-body
  .container-diag-field
  .right-diag-container
  .info
  > .form-check-input {
  width: 3.5em;
  height: 2em;
}

.work-hours-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.work-hours-container > .day-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
  padding: 0 12px;
  margin-bottom: 12px;
}

.work-hours-container .day-row > .setting-times {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.work-hours-container .day-row .setting-times > .block {
  width: 120px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 8px;
  appearance: none;
  font-size: 14px;
  color: var(--second-main-color);
  border: none;
  outline: none;
}

.work-hours-container .day-row .setting-times > .block {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.work-hours-container .day-row .setting-times > .form-control:focus,
.work-hours-container .day-row .setting-times > .form-control:active,
.work-hours-container .day-row .setting-times > .form-control:focus-visible {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.modal-container .diag-body > .policy-container {
  width: 40rem;
  height: 20rem;
  overflow-x: auto;
  border: 1px solid black;
  padding: 10px;
}

.modal-container .diag-body .policy-container > pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.modal-container .diag-body .policy-container pre > p {
  margin: 0;
}

.modal-container .diag-body > .verify-otp-container {
  width: 27rem;
  height: fit-content;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-container .diag-body .verify-otp-container > input {
  width: 100%;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;

  border: 1px solid var(--border-gray);
  border-radius: 0.25rem;
}

.modal-container .diag-body .verify-otp-container > .count-down-otp {
  width: 3rem;
  height: inherit;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.2rem;
  text-align: center;
  color: var(--black-color);
}

.modal-container .diag-body > .error-message-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 1rem 0;
}

.modal-container .diag-body .error-message-container > span {
  font-size: 0.9rem;
}

.modal-container .diag-body .error-message-container > .error-noti {
  color: var(--red-color);
}
.modal-container .diag-body .error-message-container > .success-noti {
  color: var(--main-color);
}

.modal-container.float-in {
  animation: slideIn 0.3s linear forwards;
}

.modal-container.float-out {
  animation: slideOut 0.3s linear forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%); /* Start off-screen above */
    opacity: 0; /* Fully transparent */
  }
  90% {
    transform: translateY(-10%); /* Partially down */
    opacity: 0.5; /* Partially visible */
  }
  100% {
    transform: translateY(0); /* Final position */
    opacity: 1; /* Fully visible */
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0); /* Start in its current position */
    opacity: 1; /* Fully visible */
  }
  10% {
    transform: translateY(-40%); /* Partially down */
    opacity: 0.5; /* Partially visible */
  }
  100% {
    transform: translateY(-50%); /* Move off-screen above */
    opacity: 0; /* Fully transparent */
  }
}

.modal-container .diag-body > .policy-container::-webkit-scrollbar {
  width: 10px; /* Set the scrollbar width */
}

.modal-container .diag-body > .policy-container::-webkit-scrollbar-track {
  background: var(--border-gray); /* Background color of the scrollbar track */
}

.modal-container .diag-body > .policy-container::-webkit-scrollbar-thumb {
  background-color: var(--text-gray); /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded corners for a flatter look */
  cursor: grab;
}

.modal-container
  .diag-body
  > .policy-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing; /* Changes cursor when thumb is clicked and held */
}
