.container-options {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 8px;
  gap: 8px;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--border-gray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.06);
}
.container-options .op-buts {
  text-align: left;
  width: 100%;
  border: none;
  background-color: var(--white-color);
  padding: 2px 4px;
  font-size: 0.9rem;
}
.container-options .op-buts:hover {
  background-color: rgba(217, 217, 217, 0.4);
  border-radius: 4px;
}
.headerOption {
  position: absolute;
  right: 72px;
  top: 64px;
}

.userOption {
  position: absolute;
  right: 24px;
  top: 36px;
  min-width: 164px;
}

.avatarOption {
  position: absolute;
  right: -100px;
  bottom: -62px;
}
.assign-setting-option {
  position: absolute;
  right: 24px;
  top: 36px;
}
.assign-setting-option.published {
  position: absolute;
  right: 0;
  top: 30px;
}
.assign-setting-option .item {
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 50px;
  width: 100%;
  /* border-bottom: 1px solid var(--border-gray); */
}
.assignment-option {
  position: absolute;
  right: 24px;
  top: 36px;
  width: 150px;
}
.assignment-option .op-buts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
